<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/6209ff27-9489-40a1-b4ba-103dfb0c30bc/resourceGroups/SpeedsterIT/providers/Microsoft.ContainerRegistry/registries/speedstertest</ResourceId>
    <ResourceName>speedstertest</ResourceName>
    <ResourceGroup>SpeedsterIT</ResourceGroup>
    <Subscription>ExpertIT Dev/Test</Subscription>
    <RegistryUrl>https://speedstertest.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0d3d7e33-c216-4229-93dd-7009f15ef667</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>